/*Decided to work with fallback fonts as similar as possible to Avenir Next yet available for free
My fallback font source was the article https://www.dafontfree.io/avenir-next-font/*/
/*Original font Avenir Next is available for purchase at https://www.fonts.com/font/linotype/avenir-next*/

@font-face {
    font-family: Metropolis-Regular;
    src: url(../fonts/Metropolis/Metropolis-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Metropolis-Medium;
    src: url(../fonts/Metropolis/Metropolis-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: Metropolis-Bold;
    src: url(../fonts/Metropolis/Metropolis-Bold.otf);
    font-weight: 700;
}

.cfa {
    box-sizing: border-box;
    width: 1440px;
    height: 434px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 335px;
    background-color: #FF7F57;
    color: white;
}

.cfa__subtitle {
    margin: 0px, 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: Avenir Next, Metropolis-Medium, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.cfa__title {
    margin: 0px, 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: Avenir Next, Metropolis-Bold, sans-serif;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 63px;
    text-align: center;
    color: #F4F6F7;
}

.cfa__description {
    margin: 0px, 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 770px;
    font-family: Avenir Next, Metropolis-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    padding-bottom: 10px;
}